@use '../../scss/' as *;

.product-slide {
    background-color: #FFE4C4;
    @include mobile {
    }
}

.product-slide-item {
    @include flex (center, center);
    width: 100%;

    img {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }

    @include tablet {
        img {
            height: 70%;
        }
    }

    @include mobile {
        img {
            height: 70%;
        }
    }
}