@use '../../scss/' as *;

.register {
    width: 100%;
    height: auto;
    margin: 20px 0;
    @include flex(center, center);

    &__overlay {
        background-color: rgba(0, 0, 0, 0.3);
        width: 100%;
        height: 100%;
        z-index: 9;
        position: fixed;
        display: none;

        &.ovl {
            display: block;
        }
    }

    &__modal {
        background-color: #fff;
        z-index: 10;
        width: 30%;
        height: 25%;
        position: fixed;
        @include flex(center, space-evenly);
        flex-direction: column;
        padding: 10px 20px;
        box-shadow: rgba(0, 0, 0, 0.2) 0rem 0.25rem 0.5rem;
        border-radius: 10px;
        opacity: 0;
        transform: translateY(-250px);
        transition: transform 0.6s ease, opacity 0.6s ease;
        // display: none;

        &__txt {
            font-size: 1.2rem;
            span {
                font-size: 1.1rem;
            }
        }

        &__input {
            width: 100%;
            @include flex(flex-start, space-between);
            &__wrapper {
                width: 70%;
                @include flex(flex-start, flex-start);
                flex-direction: column;

                &__content {
                    height: 30px;
                    // flex: 2;
                    width: 100%;
                    border: 1px solid #999;
                    border-radius: 5px;
                    padding: 10px;
                }

                span {
                    font-size: 1rem;
                    font-weight: 500;
                    color: red;
                }
            }

            &__btn {
                // flex: 1;
                background-color: $main-color;
                height: 30px;
                width: 25%;
                border-radius: 5px;
                @include flex(center, center);
                padding: 10px;
                cursor: pointer;
                color: $white-color;
            }
        }

        &.show {
            opacity: 1;
            transform: translateY(0);
        }
    }

    &__img {
        height: 400px;
        width: 600px;
        margin-right: 80px;

        img {
            height: 400px;
            width: 400px;
        }
    }

    &__container {
        //border: 1px solid #ccc;
        width: 400px;
        height: auto;
        padding: 20px;

        &__wrapper {
            @include flex(center, center);
            flex-direction: column;
            border: 1px solid #ccc;
            &__logo {
                width: 100%;
                height: 100px;
                @include flex(center, center);
                font-size: 4rem;
            }

            &__form {
                width: 80%;
                @include flex(flex-start, center);
                flex-direction: column;

                &__error {
                    font-size: 0.7rem;
                    font-weight: 500;
                    color: red;
                }

                & > * ~ * {
                    margin-top: 10px;
                }

                &__username, &__password, &__email, &__phone {
                    width: 100%;
                    border: 1px solid #ccc;
                    border-radius: 2px;
                    height: 35px;
                    background-color: #fafafa;
                    padding: 0 10px;
                }

                &__flname {
                    width: 100%;
                    @include flex(flex-start, center);

                    &__hug {
                        @include flex(flex-start, flex-start);
                        width: auto;
                        flex-direction: column;

                        &__fname, &__lname {
                            width: 94%;
                            border: 1px solid #ccc;
                            border-radius: 2px;
                            height: 35px;
                            background-color: #fafafa;
                            padding: 0 10px;
                        }

                        &__lname {
                            //margin-left: 10px;
                            width: 100%;
                        }
                        &__error {
                            font-size: 0.7rem;
                            font-weight: 500;
                            color: red;
                        }
                    }
                }

                &__btn-register {
                    margin-top: 20px;
                    width: 100%;
                    height: 30px;
                    @include flex(center, center);
                    font-size: 1rem;
                }
            }

            &__bulkhead {
                margin-top: 20px;
                width: 80%;
                @include flex(center, center);
                
                &__line-left, &__line-right {
                    flex: 1;
                    height: 1px;
                    background-color: #ccc;
                }

                &__or {
                    margin: 0 20px;
                    font-weight: 600;
                    color: #999;
                }
            }

            &__with {
                cursor: pointer;
                margin-top: 20px;
                font-size: 1rem;
                @include flex(center, center);
                width: 80%;
                img {
                    padding-right: 10px;
                }
            }

            &__forgot-pw {
                font-size: 0.9rem;
                margin: 20px 0;
            }
        }

        &__signin {
            width: 100%;
            height: 60px;
            margin-top: 20px;
            border: 1px solid #ccc;
            @include flex(center, space-around);
            padding: 0 10%;

            &__link {
                padding-left: 5px;
                font-weight: 600;
            }
        }
    }
}