@use '../../scss/' as *;

.register {
    width: 100%;
    height: auto;
    margin: 20px 0;
    @include flex(center, center);

    &__img {
        height: 400px;
        width: 600px;
        margin-right: 80px;

        img {
            height: 400px;
            width: 400px;
        }
    }

    &__container {
        //border: 1px solid #ccc;
        width: 400px;
        height: auto;
        padding: 20px;

        &__wrapper {
            @include flex(center, center);
            flex-direction: column;
            border: 1px solid #ccc;
            &__logo {
                width: 100%;
                height: 100px;
                @include flex(center, center);
                font-size: 4rem;

                i {
                    //height: 70px;
                }
            }

            &__form {
                width: 80%;
                @include flex(flex-start, center);
                flex-direction: column;

                &__error {
                    font-size: 0.7rem;
                    font-weight: 500;
                    color: red;
                }

                & > * ~ * {
                    margin-top: 10px;
                }

                &__username, &__password, &__email, &__phone {
                    width: 100%;
                    border: 1px solid #ccc;
                    border-radius: 2px;
                    height: 35px;
                    background-color: #fafafa;
                    padding: 0 10px;
                }

                &__flname {
                    width: 100%;
                    @include flex(flex-start, center);

                    &__hug {
                        @include flex(flex-start, flex-start);
                        width: auto;
                        flex-direction: column;

                        &__fname, &__lname {
                            width: 94%;
                            border: 1px solid #ccc;
                            border-radius: 2px;
                            height: 35px;
                            background-color: #fafafa;
                            padding: 0 10px;
                        }

                        &__lname {
                            //margin-left: 10px;
                            width: 100%;
                        }
                        &__error {
                            font-size: 0.7rem;
                            font-weight: 500;
                            color: red;
                        }
                    }
                }

                &__btn-register {
                    margin-top: 20px;
                    width: 100%;
                    height: 30px;
                    @include flex(center, center);
                    font-size: 1rem;
                }
            }

            &__bulkhead {
                margin-top: 20px;
                width: 80%;
                @include flex(center, center);
                
                &__line-left, &__line-right {
                    flex: 1;
                    height: 1px;
                    background-color: #ccc;
                }

                &__or {
                    margin: 0 20px;
                    font-weight: 600;
                    color: #999;
                }
            }

            &__with {
                cursor: pointer;
                margin-top: 20px;
                font-size: 1rem;
                @include flex(center, center);
                width: 80%;
                img {
                    padding-right: 10px;
                }
            }

            &__forgot-pw {
                font-size: 0.9rem;
                margin: 20px 0;
            }
        }

        &__signin {
            width: 100%;
            height: 60px;
            margin-top: 20px;
            border: 1px solid #ccc;
            @include flex(center, space-around);
            padding: 0 10%;

            &__link {
                padding-left: 5px;
                font-weight: 600;
            }
        }
    }

    @include tablet {
        &__img {
            display: none;
        }
    }

    @include mobile {
        font-size: 1.4rem;
        &__img {
            display: none;
        }
    }
}