@use '../../scss/' as *;

.person-card {
    width: 300px;
    height: 350px;
    padding: 16px;

    &__wrapper {
        @include flex(flex-start, center);
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.2) 0rem 0.25rem 0.5rem;
        -webkit-box-flex: 1;
        background-color: $white-color;
        width: 100%;
        height: 100%;
        padding: 20px;
        position: relative;

        &__inner {
            @include flex (center, center);
            flex-direction: column;
            width: 100%;
            height: 100%;

            &__up {
                width: 100%;
                height: 70%;
                @include flex (center, center);
                flex-direction: column;
                font-size: 1.1rem;

                & > * ~ * {
                    margin-top: 5px;
                }

                &__img {
                    width: 100px;
                    height: auto;
                    object-fit: cover;
                    border-radius: 50px;
                    box-shadow: rgba(0, 0, 0, 0.2) 0rem 0.25rem 0.5rem;
                }

                &__name {
                    @include flex (center, center);
                    
                    &__txt {
                        font-weight: 500;
                    }

                    &__dot {
                        margin-left: 5px;
                        width: 6px;
                        height: 6px;
                        border-radius: 50px;
                        background-color: #0aff0a;
                    }
                }

                &__position {
                    
                }
            }

            &__down {
                @include flex (flex-start, center);
                flex-direction: column;
                border-top: 1px solid #ccc;
                width: 100%;
                height: 30%;
            }

            &:hover {
                color: #000;
            }

        }
        &__delete-user {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 1.6rem;
            width: 30px;
            height: 30px;
            @include flex (center, center);
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.2) 0rem 0.25rem 0.5rem;
            z-index: 11;
            &:hover {
                cursor: pointer;
                background-color: rgb(207, 8, 8);
                color: #fff;
            }
        }

        &__modal {
            height: 150px;
            width: 450px;
            border-radius: 5px;
            position: absolute;
            top: 30px;
            transition: transform 0.3s ease, opacity 0.3s ease;
            @include flex (center, space-between);
            flex-direction: column;

            &__header {
                width: 100%;
                height: 30%;
                @include flex (center, flex-start);
                padding: 0 20px;
                font-size: 1.4rem;
                font-weight: 600;
                color: red;
                border-bottom: 1px solid #e4e4e4;
            }

            &__body {
                width: 100%;
                height: 30%;
                @include flex (flex-start, flex-start);
                padding: 0 20px;
                font-size: 1.2rem;
                border-bottom: 1px solid #e4e4e4;

            }

            &__footer {
                width: 100%;
                height: 30%;
                @include flex (center, flex-end);

                &__cancel, &__ok {
                    margin-right: 10px;
                    font-size: 1.2rem;
                    border-radius: 2px;
                    color: #fff;

                    &:hover {
                        cursor: pointer;
                    }
                }

                &__cancel {
                    width: 50px;
                    height: 30px;
                    background-color: #999;
                }

                &__ok {
                    width: 70px;
                    height: 30px;
                    background-color: red;
                }
            }
        }

        &:hover {
            outline: 1px solid #2e65ff;
        }
    }
}