@use '../../scss/' as *;

.detail-product {
    margin-top: 4rem;

    &__wrapper {
        width: 100%;
        @include flex (center, space-between);
        padding: 0 200px;
        box-sizing: border-box;

        &__img {
            height: 450px;
            width: 450px;
            @include flex (center, center);

            img {
                height: 400px;
                width: 400px;
                object-fit: contain;
            }
        }

        &__info {
            width: 55%;
            & > * ~ * {
                margin-top: 10px;
            }

            &__name {
                font-size: 1.6rem;
                font-weight: 500;
            } 
            
            &__rating {
                @include flex (center, flex-start);
                font-size: 1.2rem;

                & > * ~ * {
                    margin-left: 40px;
                }

                &__star {
                    
                    i {
                        color: $main-color;
                    }
                }

                &__ratings {
                    span {
                        color: $main-color;
                    }
                }
                
            }

            &__sizes {
                &__size-S, &__size-M, &__size-L {
                    height: 35px;
                    width: 70px;
                    border: 1px solid #ccc;
                    font-size: 1rem;
                    &:hover {
                        cursor: pointer;
                        color: $main-color;
                        border-color: $main-color;
                    }

                    &.disable{
                        cursor: not-allowed;
                        color: #bdbdbd;
                        border-color: #bdbdbd;
                    }

                    &.focus {
                        color: $main-color;
                        border-color: $main-color;
                    }
                }

                & > * ~ * {
                    margin-left: 10px;
                }
            }

            &__quantity {
                width: 130px;
                height: 35px;
                @include flex (center, space-around);
                border: 1px solid #ccc;
                border-radius: 50px;

                &__btn-minus, &__btn-plus {
                    width: 40px;
                    height: 35px;
                    cursor: pointer;
                    border-radius: 50px;
                }

                &__number {
                    flex: 1;
                    @include flex (center, center);
                }
            }

            &__cate {
                @include flex (center, flex-start);

                &__price {
                    width: 130px;
                }

                &__price {
                    font-weight: 500;
                }
            }

            &__note {
                padding: 5px;
                outline: none;
                width: 250px;
                height: 70px;
            }

            &__btn {
                @include flex (center, center);
                width: 140px;
                height: 40px;
            }
        }
    }

    &__review {
        margin: 0 200px;
    }

    &__similar {
        margin: 0 0 50px 200px;

        & > * ~ * {
            margin-top: 50px;
        }

        &__title {
            font-size: 1.2rem;
            font-weight: 600;
        }

    }

    @include tablet {

        &__wrapper {
            width: 100%;
            @include flex(center, space-between);
            padding: 0 10%;

            &__img {
                height: 350px;
                width: 350px;
                @include flex (center, center);
    
                img {
                    height: 350px;
                    width: 350px;
                    object-fit: contain;
                }
            }
        }
    }

    @include mobile {
        $height-header-mobile: calc($header-height * 0.7);
        margin-top: $height-header-mobile;
        &__wrapper {
            width: 100%;
            @include flex (center, center);
            flex-direction: column;
            padding: 0 21%;

            &__img {
                height: 250px;
                width: 350px;
                @include flex (center, center);
    
                img {height: 250px;
                    width: 350px;
                    object-fit: contain;
                }
            }
    
            &__info {
                width: 100%;
                & > * ~ * {
                    margin-top: 10px;
                }
    
                &__name {
                    font-size: 2rem;
                    font-weight: 500;
                } 
                
                &__rating {
                    @include flex (center, flex-start);
                    font-size: 1.8rem;
    
                    & > * ~ * {
                        margin-left: 40px;
                    }
    
                    &__star {
                        
                        i {
                            color: $main-color;
                        }
                    }
    
                    &__ratings {
                        span {
                            color: $main-color;
                        }
                    }
                    
                }
    
                &__cate {
                    @include flex (center, flex-start);
                    font-size: 1.8rem;
                    & > * ~ * {
                        margin-left: 100px;
                    }
    
                    &__price {
                        font-weight: 500;
                    }
                }
    
                &__desc {
                    display: none;
                }
    
                &__btn {
                    @include flex (center, center);
                    font-size: 1.4rem;
                    width: 50%;
                    height: 35px;
                    margin: 20px auto;
                }
            }
        }

        &__review {
            margin: 10%;
        }

        &__similar {
            margin:0 10px 20px;
        }
    }
}