@use '../../scss/' as *;

.pagination {
    width: 100%;
    margin-top: 20px;
    @include flex(center, center);
    flex-direction: column;

    &__page-action {
        &__ul {
            @include flex(center, center);
            & > * ~ * {
                margin-left: 20px;
            }

            &__li {
                cursor: pointer;
                font-size: 1rem;

                &__btn-prev, &__btn-next {
                    
                    font-size: 1.2rem;
                    cursor: pointer;
                }
            }
        }
    }

    .active {
        width: 30px;
        height: 30px;
        background-color: $main-color;
        border-radius: 50px;
        color: $white-color;
        @include flex(center, center);
    }
}